<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wabisabi"
        tools:targetApi="31">
        <activity
            android:name=".Activity.Login"
            android:exported="false"/>
        <activity
            android:name=".Activity.Register"
            android:exported="false" />
        <activity
            android:name=".Activity.FindInfo"
            android:exported="false" />
        <activity
            android:name=".Activity.InfoDetails"
            android:exported="false" />
        <activity
            android:name=".Activity.FindExpert"
            android:exported="false" />
        <activity
            android:name=".Activity.ChatsPage"
            android:exported="false" />
        <activity
            android:name=".Activity.FindPerson"
            android:exported="false" />
        <activity
            android:name=".Activity.FindGroup"
            android:exported="false" />
        <activity
            android:name=".Activity.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Profile"
            android:exported="false" />
        <activity
            android:name=".Activity.Bookmarks"
            android:exported="false" />
        <activity
            android:name=".Activity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.Home"
            android:exported="true"/>

        <activity
            android:name=".Activity.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CreateGroup"
            android:exported="false" />
        <activity
            android:name=".Activity.GroupChatActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.GroupParticipantsActivity"
            android:exported="false" />
        <!--<activity
            android:name=".Activity.AddParticipantsToGroup"
            android:exported="false" />
-->
    </application>

</manifest>